form.row
    .col-lg-10.m-auto
        .row
            label.col-form-label.col-lg.text-lg-right(style="max-width:120px") 清理種類
            .col-lg.mb-3
                select.form-control.selectpicker
                    option 38年12月31日以前登記之抵押權
                    option 50年12月31日以前登記之抵押權
                    option 70年12月31日以前登記之抵押權
        .row
            label.col-form-label.col-lg.text-lg-right(style="max-width:120px") 地政事務所
            .col-lg-3.mb-3
                select.form-control.selectpicker
                    option 26.萬里區
                    option 26.萬里區
                    option 26.萬里區
            label.col-form-label.col-lg(style="max-width:80px") 段小段
            .col-lg.mb-3
                select.form-control.selectpicker
                    option 0938.頂萬里加投段大平崙子小段
                    option 0938.頂萬里加投段大平崙子小段
                    option 0938.頂萬里加投段大平崙子小段
        .row
            label.col-form-label.col-lg.text-lg-right(style="max-width:120px") 地建號
            .col-lg-3.mb-3
                select.form-control.selectpicker
                    option 土地
                    option 土地
                    option 土地
            .col-lg.mb-3
                input.form-control(type="text",placeholder="請輸入地號或建號")
        .row
            label.col-form-label.col-lg.text-lg-right(style="max-width:120px")  所有權人姓名
            .col-lg-3.mb-3
                input.form-control(type="text",placeholder="請填入姓名")
        .row.justify-content-center.mt-4
            .col.col-lg-2
                button.w-100.btn.btn-outline-primary.rounded
                    .fas.fa-trash-alt.mr-2
                    | 清空
            .mx-2
            .col.col-lg-2
                button.w-100.btn.btn-primary.rounded
                    .fas.fa-search.mr-2
                    | 查詢
.bulletin.my-4
    div.px-2
        .icon-announcement
    ul.text-justify
        li 各類土地申辦登記方式及相關規定：可點選「清理種類」欄位查詢相關說明。
        li
            | 因地籍清理管理系統之資料庫，一經結案就不會再異動地籍資料，倘您輸入地段號後未查詢到您所需的資料，請以重測前後或分割、合併前後之地段號查詢
            a(href="https://www2.land.ntpc.gov.tw/MASP/MASP15_NEW/MASP1501index.jsp",target="_blank") 「地政資訊易找查」
            |，或請電洽本府地政局詢問2960-3456分機3404至3409、3504、3505。
        li 代為標售地籍清理未能釐清權屬土地資訊：當清理狀態為「A9結標(結案)」或「AB.囑託登記(結案)」時，可點選「清理狀態」欄位查詢相關說明。
        li
            a(href="https://www.land.ntpc.gov.tw/cp.aspx?n=8870&s=5423",target="_blank") 發給地籍清理土地∕建物價金申請程序及應備文件。
.border-top.my-4
p.small 資料筆數： 
    span.text-primary 0 
    | 筆
.status
    .status_inner
        i.fas.fa-star-half-alt.fa-4x.mb-3
        p 查無資料，請重新輸入查詢條件