extends ./layout/_layout

block title
    title Una's Portfolio
    link(rel="stylesheet", href="css/all.css?"+new Date().getTime())
block header
    header#HOME.header.header-index.min-vh-100
        nav.navbar.navbar-header.container-fluid
            a.navbar-brand.brand(href="#HOME",data-operate="SmoothScroll")
            button.navbar-toggler.navbar-toggler-x(type="button",data-toggle="collapse",data-target="#headNavbarContent",aria-controls="headNavbarContent",aria-expanded="false",aria-label="Toggle navigation")
                .toggler-bar
        .collapse.collapse-header#headNavbarContent
            .collapse-content.container-fluid
                a.navbar-brand.brand-nav(href="#HOME",data-operate="SmoothScroll")
                .collapse-title
                    | UnaXie’s
                    br
                    | Portfolio
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href="#HOME",data-operate="SmoothScroll")
                            span HOME
                    li.nav-item
                        a.nav-link(href="#ABOUT",data-operate="SmoothScroll") 
                            span ABOUT
                    li.nav-item
                        a.nav-link(href="#WORKS",data-operate="SmoothScroll")
                            span WORKS
                .navbar-underNav   
                    a.btn.btn-circle(href="mailto:una416@gmail.com")
                        i.icon.icon-mail
                    a.btn.btn-circle(href="https://www.linkedin.com/in/una-xie-0093167a/",target="_blank")
                        i.icon.icon-linkedin
                    a.disabled.btn.btn-circle(href="#")
                        i.icon.icon-github
                    a.btn.btn-circle(href="https://dribbble.com/UnaXie",target="_blank")
                        i.icon.icon-dribbble
        .mainArea.container-lg
            .mainPic
            .mainTitle
        .btn.btn-mouse(href="#ABOUT",data-operate="SmoothScroll")

block content
    section#ABOUT.section.section-aboutMe
        .container
            h2.h2.title 
                .title-content ABOUT ME
            .row
                .col-lg-6.aboutMe-picArea
                    .portfolioPic
                    .portfolioContact
                        span.icon.icon-mail
                        span.font-weight-bold una416@gmail.com
                .col-lg-6.aboutMe-textArea
                    h5.h5.subTitle EXPERIENCE
                    .row
                        .col-lg-6
                            .pillTitle
                                .pillTitle-content Work
                            ul.expList.expList-lineDeco
                                li.expList-item
                                    .exp-title 2019.2 ~ NOW
                                    .exp-content
                                        | Freelancer - 
                                        br
                                        | UI Designer / 
                                        br
                                        | Front-end Engineer 
                                li.expList-item
                                    .exp-title 2016.11 ~ 2019.2
                                    .exp-content
                                        | 無限創意科技 - 前端工程師
                                        br
                                        | 數位前進 - 前端工程師 
                                li.expList-item
                                    .exp-title 2016.4 ~ 2016.11
                                    .exp-content
                                        | 巴克斯數位 - 網頁工程師 
                                li.expList-item
                                    .exp-title 2010.8 ~ 2014.10
                                    .exp-content
                                        | 藏墨數位藝術 - 視覺設計師
                                        br
                                        | 四方通行旅行社 - 網頁設計師 
                        .col-lg-6
                            .pillTitle
                                .pillTitle-content Volunteer
                            ul.expList
                                li.expList-item
                                    .exp-title 2017
                                    .exp-content
                                        | MOPCON - 前端工程師 
                                li.expList-item
                                    .exp-title 2017
                                    .exp-content
                                        | 高雄前端開發者大會 -
                                        br
                                        | 視覺設計師 / 前端工程師 
                                li.expList-item
                                    .exp-title 2016
                                    .exp-content
                                        | MOPCON - UI Designer 
                            .pillTitle
                                .pillTitle-content Education
                                ul.expList.expList-lineDeco
                                    li.expList-item
                                        .exp-title 2017
                                        .exp-content
                                            | 國立雲林科技大學 -
                                            br
                                            | 數位媒體設計系畢業
    section#WORKS.section.section-works
            .container
                h2.h2.title 
                    .title-content WORKS
                .row.worksList
                    .col-lg-4.col-md-6
                        a.projectItem.projectHover(href="http://www.ksf2e.com/",target="_blank")
                            .projectHover-inner
                                .project-title 高雄前端大會
                                .project-detail 
                                    | 專案執行項目
                                    br/
                                    | Visual Design, Front-End
                            .projectImage.ratioImg.ratioImg-1by1(style="background-image:url('/images/project/2017khF2Econf.jpg')")
                    .col-lg-4.col-md-6
                        a.projectItem.projectHover(href="https://www2.land.ntpc.gov.tw/NTPC_CTLWEB/PJT/PJT010/CTLWEB01.jsp",target="_blank")
                            .projectHover-inner
                                .project-title 新北地政 徵收案件公告資料查詢
                                .project-detail 
                                    | 專案執行項目
                                    br/
                                    | Visual Design, Front-End
                            .projectImage.ratioImg.ratioImg-1by1(style="background-image:url('/images/project/ntpc.jpg')")
                    .col-lg-4.col-md-6
                        a.projectItem.projectHover(href="https://www.zenfar.com.tw/portal",target="_blank")
                            .projectHover-inner
                                .project-title 仁發建築
                                .project-detail 
                                    | 專案執行項目
                                    br/
                                    | Front-End
                            .projectImage.ratioImg.ratioImg-1by1(style="background-image:url('/images/project/zenfar.jpg')")
                    .col-lg-4.col-md-6
                        a.projectItem.projectHover(href="https://www.minfa168.com.tw/",target="_blank")
                            .projectHover-inner
                                .project-title 名發建設機構
                                .project-detail 
                                    | 專案執行項目
                                    br/
                                    | Front-End
                            .projectImage.ratioImg.ratioImg-1by1(style="background-image:url('/images/project/minfar.jpg')")
                    .col-lg-4.col-md-6
                        a.projectItem.projectHover(href="https://bre.is/SA8BMgQv",target="_blank")
                            .projectHover-inner
                                .project-title 新北地政e服務
                                .project-detail 
                                    | 專案執行項目
                                    br/
                                    | Visual Design, UI Design, Front-End
                            .projectImage.ratioImg.ratioImg-1by1(style="background-image:url('/images/project/land.ntpc.jpg')")
                    .col-lg-4.col-md-6
                        a.projectItem.projectHover(href="https://bre.is/Mg2MVPvj",target="_blank")
                            .projectHover-inner
                                .project-title 找咖啡
                                .project-detail 
                                    | 專案執行項目
                                    br/
                                    | Visual Design, UI Design
                            .projectImage.ratioImg.ratioImg-1by1(style="background-image:url('/images/project/CafeFinder.jpg')")
                .text-center
                    a.btn.btn-secondary(href="#") MORE
block footer
    .footer
        .container
            .brand
            ul.footer-nav
                li.nav-item
                    a.nav-link(href="#HOME",data-operate="SmoothScroll")
                        span HOME
                li.nav-item
                    a.nav-link(href="#ABOUT",data-operate="SmoothScroll")
                        span ABOUT
                li.nav-item
                    a.nav-link(href="#WORKS",data-operate="SmoothScroll")
                        span WORKS
            .footer-underNav   
                a.btn.btn-circle-outline(href="mailto:una416@gmail.com")
                    i.icon.icon-mail
                a.btn.btn-circle-outline(href="https://www.linkedin.com/in/una-xie-0093167a/",target="_blank")
                    i.icon.icon-linkedin
                a.disabled.btn.btn-circle-outline(href="#")
                    i.icon.icon-github
                a.btn.btn-circle-outline(href="https://dribbble.com/UnaXie",target="_blank")
                    i.icon.icon-dribbble
            .small.d-none.d-lg-block 本網站建議  Google Chrome / Firefox / Safari 等瀏覽器瀏覽
            p.small © 2020 Una Xie
block scrollBtn
    include ./layout/_scrollBtn
block scripts
    include ./layout/_scripts
    script.
        $(function() {
            goTop();
            operateSideNav();
            scrollOpacity();
        });