extends ./layout/_layout

block title
    title Una's Portfolio
    link(rel="stylesheet", href="css/all.css?"+new Date().getTime())
block header
    header#HOME.header
        nav.navbar.navbar-header.container-fluid
            a.navbar-brand.brand(href="../index.html#HOME")
            button.navbar-toggler.navbar-toggler-x(type="button",data-toggle="collapse",data-target="#headNavbarContent",aria-controls="headNavbarContent",aria-expanded="false",aria-label="Toggle navigation")
                .toggler-bar
        .collapse.collapse-header#headNavbarContent
            .collapse-content.container-fluid
                a.navbar-brand.brand-nav(href="../index.html#HOME")
                .collapse-title
                    | UnaXie’s
                    br
                    | Portfolio
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href="../index.html#HOME") 
                            span HOME
                    li.nav-item
                        a.nav-link(href="../index.html#ABOUT") 
                            span ABOUT
                    li.nav-item
                        a.nav-link(href="#WORKS",data-operate="SmoothScroll")
                            span WORKS
                .navbar-underNav   
                    a.btn.btn-circle(href="mailto:una416@gmail.com")
                        i.icon.icon-mail
                    a.btn.btn-circle(href="https://www.linkedin.com/in/una-xie-0093167a/",target="_blank")
                        i.icon.icon-linkedin
                    a.disabled.btn.btn-circle(href="#")
                        i.icon.icon-github
                    a.btn.btn-circle(href="https://dribbble.com/UnaXie",target="_blank")
                        i.icon.icon-dribbble
block content
    section#WORKS.section.section-works
            .container
                h2.h2.title 
                    .title-content WORKS
                .row.worksList
                    .col-lg-4.col-md-6
                        a.projectItem.projectHover(href="#")
                            .projectHover-inner
                                .project-title 高雄前端大會
                                .project-detail Visual Design / Front-End
                            .projectImage.ratioImg.ratioImg-1by1(style="background-image:url('https://picsum.photos/id/302/900/600')")
                    .col-lg-4.col-md-6
                        a.projectItem.projectHover(href="#")
                            .projectHover-inner
                                .project-title 高雄前端大會
                                .project-detail Visual Design / Front-End
                            .projectImage.ratioImg.ratioImg-1by1(style="background-image:url('https://picsum.photos/id/302/900/600')")
                    .col-lg-4.col-md-6
                        a.projectItem.projectHover(href="#")
                            .projectHover-inner
                                .project-title 高雄前端大會
                                .project-detail Visual Design / Front-End
                            .projectImage.ratioImg.ratioImg-1by1(style="background-image:url('https://picsum.photos/id/302/900/600')")
                    .col-lg-4.col-md-6
                        a.projectItem.projectHover(href="#")
                            .projectHover-inner
                                .project-title 高雄前端大會
                                .project-detail Visual Design / Front-End
                            .projectImage.ratioImg.ratioImg-1by1(style="background-image:url('https://picsum.photos/id/302/900/600')")
                    .col-lg-4.col-md-6
                        a.projectItem.projectHover(href="#")
                            .projectHover-inner
                                .project-title 高雄前端大會
                                .project-detail Visual Design / Front-End
                            .projectImage.ratioImg.ratioImg-1by1(style="background-image:url('https://picsum.photos/id/302/900/600')")
                    .col-lg-4.col-md-6
                        a.projectItem.projectHover(href="#")
                            .projectHover-inner
                                .project-title 高雄前端大會
                                .project-detail Visual Design / Front-End
                            .projectImage.ratioImg.ratioImg-1by1(style="background-image:url('https://picsum.photos/id/302/900/600')")
block footer
    .footer
        .container
            .brand
            ul.footer-nav
                li.nav-item
                    a.nav-link(href="../index.html#HOME") 
                        span HOME
                li.nav-item
                    a.nav-link(href="../index.html#ABOUT")
                        span ABOUT
                li.nav-item
                    a.nav-link(href="#WORKS",data-operate="SmoothScroll")
                        span WORKS
            .footer-underNav   
                a.btn.btn-circle-outline(href="mailto:una416@gmail.com")
                    i.icon.icon-mail
                a.btn.btn-circle-outline(href="https://www.linkedin.com/in/una-xie-0093167a/",target="_blank")
                    i.icon.icon-linkedin
                a.disabled.btn.btn-circle-outline(href="#")
                    i.icon.icon-github
                a.btn.btn-circle-outline(href="https://dribbble.com/UnaXie",target="_blank")
                    i.icon.icon-dribbble
            .small.d-none.d-lg-block 本網站建議  Google Chrome / Firefox / Safari 等瀏覽器瀏覽
            p.small © 2020 Una Xie
block scrollBtn
    include ./layout/_scrollBtn
block scripts
    include ./layout/_scripts
    script.
        $(function() {
            goTop();
            operateSideNav();
        });