.btn-circle {
    background-color: $yellow-400;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: $spacer*3;
    height: $spacer*3;

    @include hover-focus() {
        background-color: rgba($third, .7);
    }

    &>.icon {
        color: $secondary;
    }
}

.btn-circle-outline {
    border: 1px solid $purple-400;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: $spacer*2.5;
    height: $spacer*2.5;

    @include hover-focus() {
        background-color: rgba($purple-400, .7);
    }

    &>.icon {
        color: $gray-400;
        font-size: $small-font-size;
    }
}

.btn-mouse {
    border: 3px solid $yellow-400;
    border-radius: $spacer*2;
    display: block;
    height: 60px;
    width: 38px;
    position: absolute;
    z-index: 10;
    align-self: center;
    bottom: $spacer*5;

    &:before {
        content: "";
        display: block;
        border: 3px solid $yellow-400;
        border-radius: $spacer;
        height: 14px;
        width: 8px;
        top: 4px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        animation: scrolling 1s linear infinite;
    }
}

.btn-secondary {
    font-weight: $font-weight-bold;
    color: $yellow-400;
    background-color: $secondary;
    padding: $spacer $spacer*3;
    border-radius: 10px;
    position: relative;

    &:before {
        content: "";
        background-image: url(../images/bg/pattern-o.png);
        background-size: 25%;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }

    @include hover-focus() {
        color: $yellow-400;
        background-color: darken($secondary, 5.5%);

        &:before {
            opacity: .3;
        }
    }
}