.brand {
    background-image: url(../images/brand/logo.svg);

}

.brand-nav {
    background-image: url(../images/brand/logo-nav.svg);
}

.brand,
.brand-nav {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 100%;
    max-width: 75px;
    height: 50px;

    @include media-breakpoint-down(md) {
        max-width: 60px;
        height: 40px;
    }
}

.navbar-header {
    @include media-breakpoint-down(md) {
        padding-top: 0;
        padding-right: 0;
    }

    .navbar-brand {
        @include media-breakpoint-down(md) {
            margin-top: $spacer;
        }
    }

    .navbar-toggler-x {
        width: $spacer*3;
        height: $spacer*3;
        position: relative;
        background-color: $secondary;
        z-index: 3;

        .toggler-bar {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: $border-radius-lg;

            &:before,
            &:after {
                border-radius: $border-radius-lg
            }
        }

        &[aria-expanded="false"] {

            .toggler-bar {
                height: 3px;
                width: 100%;
                background-color: $yellow-500;
                @include transition($transition-base);

                &:before,
                &:after {
                    content: '';
                    height: 3px;
                    width: 100%;
                    position: absolute;
                    background-color: $yellow-500;
                    @include transition($transition-base);
                }

                &:before {
                    top: -10px;
                }

                &:after {
                    bottom: -10px;
                }
            }
        }

        &[aria-expanded="true"] {
            .toggler-bar {

                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    height: 3px;
                    background-color: $yellow-500;
                    width: 100%;
                    @include transition($transition-base);
                }

                &:before {
                    transform: rotate(45deg);
                }

                &:after {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

.collapse-header {
    display: block;
    position: absolute;
    z-index: 1;
    background-color: $secondary;
    width: 100%;
    top: 0;

    .collapse-title {
        color: $yellow-400;
        font-size: $h2-font-size;
        margin-top: $spacer*2;
        margin-bottom: $spacer*2;

        &:after {
            content: "";
            background-color: $primary;
            height: $spacer/2;
            width: $spacer*3.5;
            display: block;
            border-radius: $border-radius-lg;
            margin-top: $spacer/2;
        }
    }

    .nav-link {
        color: $yellow-400;
        @include transition($transition-base);

        @include hover-focus() {
            color: rgba($yellow-400, .7);
        }

    }

    .collapse-content {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding-top: $spacer;
    }

    .navbar-underNav {
        color: $white;
        margin-top: auto;
        margin-bottom: $spacer*2;
        text-align: center;

        .btn {
            margin-right: $spacer/3;
            margin-left: $spacer/3;
        }
    }
}